[flake8]
ignore =
    E203
    E266
    E501
    W503
    F403
    F401
    # Naming upper/lowercase -- too hard right now.
    N803
    # Naming upper/lowercase -- too hard right now.
    N806
    # Naming upper/lowercase -- too hard right now.
    N802
    # Docstring in imperative mood. This should *not* be the case for @property's, but can't ignore them atm.
    D401
max-line-length = 88
max-complexity = 55
docstring-convention=numpy
inline-quotes="
ignore-decorators=click.option
per-file-ignores =
    tests/*:D,T
    devel/*:T
    src/py21cmfast/cli.py:D,T
rst-roles =
    class
    func
    mod
    data
    const
    meth
    attr
    exc
    obj
rst-directives =
    note
    warning
    versionadded
    versionchanged
    deprecated
    seealso
