
\.idea/

*.pyc

src/py21cmmc\.egg-info/

*.so
build/
*.*~
.pytest_cache/
_build/
_autosummary
vgcore.*
devel/\.ipynb_checkpoints/

devel/data/

docs/faqs/\.ipynb_checkpoints/

*.h5

*.log

docs/tutorials/\.ipynb_checkpoints/

docs/tutorials/data/

\.tox/

\.coverage

htmlcov/

data/
