dist/

src/21cmFAST.egg-info/

pip-wheel-metadata/

\.idea/

*.pyc

*.fftwf_wisdom
src/21cmFAST.egg-info/
pip-wheel-metadata/
src/py21cmfast\.egg-info/

*.so
build/
*.*~
.pytest_cache/
_build/
_autosummary
vgcore.*
devel/\.ipynb_checkpoints/
docs/tutorials/_cache/

devel/data/

docs/faqs/\.ipynb_checkpoints/

*.log

docs/tutorials/\.ipynb_checkpoints/

docs/tutorials/data/

\.tox/

\.coverage

htmlcov/

data/

pip-wheel-metadata/py21cmfast\.dist-info/
