exclude: '(^docs/conf.py|^src/py21cmfast/_data/|changethelog.py)'

repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.5.0
      hooks:
          - id: trailing-whitespace
          - id: check-added-large-files
          - id: check-ast
          - id: check-json
          - id: check-merge-conflict
          - id: check-xml
          - id: check-yaml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: requirements-txt-fixer
          - id: mixed-line-ending
            args: ['--fix=no']
    - repo: https://github.com/pycqa/flake8
      rev: 7.0.0  # pick a git hash / tag to point to
      hooks:
        - id: flake8
          additional_dependencies:
            - flake8-quotes
#            - flake8-comprehensions  # no support for flake8 v6
            - flake8-builtins
            # - flake8-eradicate  # no support for flake8 v6
            - pep8-naming
            - flake8-pytest
            - flake8-docstrings
            - flake8-rst-docstrings
            - flake8-rst
            # - flake8-copyright  # no support flor flake8 v6
            - flake8-print

    - repo: https://github.com/psf/black-pre-commit-mirror
      rev: 23.12.1
      hooks:
          - id: black

    - repo: https://github.com/PyCQA/isort
      rev: 5.13.2
      hooks:
      - id: isort

    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.10.0
      hooks:
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal

    - repo: https://github.com/asottile/pyupgrade
      rev: v3.15.0
      hooks:
      - id: pyupgrade
        args: [--py36-plus]
