name: Publish Python distributions to PyPI

on:
  release:
    types: [published, edited]

jobs:
  build-n-publish:
    name: Make Release on PyPI and Github
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Build Tools
        run: pip install build

      - name: Get C Libraries Linux
        run: |
          sudo apt-get install libfftw3-dev
          sudo apt-get install libgsl0-dev

      - name: Build a binary wheel
        run: |
          python -m build .

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1.13.0
        with:
          password: ${{ secrets.pypi_password }}
