name: Test MacOS Build

# Test on all pushes, except when the push is literally just a tag (because we
# tag automatically via CI, and therefore there's no extra code in that push).
# Also, only test on pull requests into master/production.
on:
  push:
    tags-ignore:
      - 'v*'
  pull_request:
    branches:
      - 'master'
      - 'production'
      - 'v4-prep'


jobs:
  tests:
    if: "!contains(github.event.pull_request.labels.*.name, 'auto-pr')"
    env:
      PYTHON: ${{ matrix.python-version }}
      CC: gcc
    name: Test MacOS Build
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-14, macos-13]  # macos-14 is arm64, macos-13 is not.
        python-version: ["3.11"]
        compiler: ["gcc", "clang"]
    defaults:
     run:
       # Adding -l {0} ensures conda can be found properly in each step
       shell: bash -l {0}
    steps:
      - uses: actions/checkout@master
        with:
          fetch-depth: 0

      - name: Setup Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          channels: conda-forge,defaults
          python-version: ${{ matrix.python-version }}
          channel-priority: true

      - name: Install Non-Python Dependencies
        run: |
          conda install fftw gsl

      - name: Install 21cmFAST
        run: |
          CC=${{ matrix.compiler }} pip install .

      - name: Test Import
        run: |
          python -c "import py21cmfast"
